@font-face {
    font-family: 'RalewayBlack';
        src: url('/assets/fonts/raleway/28803715a13e97194083d4503d4e74b8/d641109f46a9231b7a92d6a114302a2b/RalewayBlack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'RalewayBlackItalic';
        src: url('/assets/fonts/raleway/28803715a13e97194083d4503d4e74b8/0f629c963866f90e4ffa05550def8af3/RalewayBlackItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'RalewayBold';
        src: url('/assets/fonts/raleway/28803715a13e97194083d4503d4e74b8/f5c9c1aa2ac56e1f75b17c63c0a594bc/RalewayBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }

@font-face {
    font-family: 'RalewayBoldItalic';
        src: url('/assets/fonts/raleway/28803715a13e97194083d4503d4e74b8/02d3658bf349556ce8c3486c55bb703b/RalewayBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
      }

@font-face {
    font-family: 'RalewayExtraBold';
        src: url('/assets/fonts/raleway/28803715a13e97194083d4503d4e74b8/299ddfe9ee671626b0fe97cd94cfbb3b/RalewayExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'RalewayExtraBoldItalic';
        src: url('/assets/fonts/raleway/28803715a13e97194083d4503d4e74b8/8832d30f890da4120277ce31511440f3/RalewayExtraBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'RalewayExtraLight';
        src: url('/assets/fonts/raleway/28803715a13e97194083d4503d4e74b8/ebd5c800e24e108dd3aeacb28e16c595/RalewayExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'RalewayExtraLightItalic';
        src: url('/assets/fonts/raleway/28803715a13e97194083d4503d4e74b8/91fc8a226846c0aafdf32f1158585bee/RalewayExtraLightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'RalewayItalic';
        src: url('/assets/fonts/raleway/28803715a13e97194083d4503d4e74b8/b1f58e1bdc559a465620e1e48d08f460/RalewayItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'RalewayLight';
        src: url('/assets/fonts/raleway/28803715a13e97194083d4503d4e74b8/6b562d7ca359ccb3259f570bcceb4f70/RalewayLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'RalewayLightItalic';
        src: url('/assets/fonts/raleway/28803715a13e97194083d4503d4e74b8/fa415a9d96fefcef9dcd7c0f8938bdcb/RalewayLightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'RalewayMedium';
        src: url('/assets/fonts/raleway/28803715a13e97194083d4503d4e74b8/2e763f88811273e662c149e71ba9e984/RalewayMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'RalewayMediumItalic';
        src: url('/assets/fonts/raleway/28803715a13e97194083d4503d4e74b8/c966b8622dc3df06f4dcb637212cd92f/RalewayMediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'RalewayRegular';
        src: url('/assets/fonts/raleway/28803715a13e97194083d4503d4e74b8/2d4cd8722065da2ac700199273325752/RalewayRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'RalewaySemiBold';
        src: url('/assets/fonts/raleway/28803715a13e97194083d4503d4e74b8/e18d3880935810355cd07b95337c381d/RalewaySemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'RalewaySemiBoldItalic';
        src: url('/assets/fonts/raleway/28803715a13e97194083d4503d4e74b8/4bd987dee3441560d67deaf159d2feda/RalewaySemiBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'RalewayThin';
        src: url('/assets/fonts/raleway/28803715a13e97194083d4503d4e74b8/ebd07bb4e01077b3736004a5305ce741/RalewayThin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'RalewayThinItalic';
        src: url('/assets/fonts/raleway/28803715a13e97194083d4503d4e74b8/f8708e6ab83f9e2e11c2bd0c0ecf93a6/RalewayThinItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

 /* The following rules are deprecated. */ 

@font-face {
    font-family: 'Raleway';
        src: url('/assets/fonts/raleway/28803715a13e97194083d4503d4e74b8/d641109f46a9231b7a92d6a114302a2b/RalewayBlack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }



@font-face {
    font-family: 'Raleway';
        src: url('/assets/fonts/raleway/28803715a13e97194083d4503d4e74b8/0f629c963866f90e4ffa05550def8af3/RalewayBlackItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }



@font-face {
    font-family: 'Raleway';
        src: url('/assets/fonts/raleway/28803715a13e97194083d4503d4e74b8/f5c9c1aa2ac56e1f75b17c63c0a594bc/RalewayBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }



@font-face {
    font-family: 'Raleway';
        src: url('/assets/fonts/raleway/28803715a13e97194083d4503d4e74b8/02d3658bf349556ce8c3486c55bb703b/RalewayBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
      }



@font-face {
    font-family: 'Raleway';
        src: url('/assets/fonts/raleway/28803715a13e97194083d4503d4e74b8/299ddfe9ee671626b0fe97cd94cfbb3b/RalewayExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }



@font-face {
    font-family: 'Raleway';
        src: url('/assets/fonts/raleway/28803715a13e97194083d4503d4e74b8/8832d30f890da4120277ce31511440f3/RalewayExtraBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }



@font-face {
    font-family: 'Raleway';
        src: url('/assets/fonts/raleway/28803715a13e97194083d4503d4e74b8/ebd5c800e24e108dd3aeacb28e16c595/RalewayExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }



@font-face {
    font-family: 'Raleway';
        src: url('/assets/fonts/raleway/28803715a13e97194083d4503d4e74b8/91fc8a226846c0aafdf32f1158585bee/RalewayExtraLightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }



@font-face {
    font-family: 'Raleway';
        src: url('/assets/fonts/raleway/28803715a13e97194083d4503d4e74b8/b1f58e1bdc559a465620e1e48d08f460/RalewayItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }



@font-face {
    font-family: 'Raleway';
        src: url('/assets/fonts/raleway/28803715a13e97194083d4503d4e74b8/6b562d7ca359ccb3259f570bcceb4f70/RalewayLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }



@font-face {
    font-family: 'Raleway';
        src: url('/assets/fonts/raleway/28803715a13e97194083d4503d4e74b8/fa415a9d96fefcef9dcd7c0f8938bdcb/RalewayLightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }



@font-face {
    font-family: 'Raleway';
        src: url('/assets/fonts/raleway/28803715a13e97194083d4503d4e74b8/2e763f88811273e662c149e71ba9e984/RalewayMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }



@font-face {
    font-family: 'Raleway';
        src: url('/assets/fonts/raleway/28803715a13e97194083d4503d4e74b8/c966b8622dc3df06f4dcb637212cd92f/RalewayMediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }



@font-face {
    font-family: 'Raleway';
        src: url('/assets/fonts/raleway/28803715a13e97194083d4503d4e74b8/2d4cd8722065da2ac700199273325752/RalewayRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }



@font-face {
    font-family: 'Raleway';
        src: url('/assets/fonts/raleway/28803715a13e97194083d4503d4e74b8/e18d3880935810355cd07b95337c381d/RalewaySemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }



@font-face {
    font-family: 'Raleway';
        src: url('/assets/fonts/raleway/28803715a13e97194083d4503d4e74b8/4bd987dee3441560d67deaf159d2feda/RalewaySemiBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }



@font-face {
    font-family: 'Raleway';
        src: url('/assets/fonts/raleway/28803715a13e97194083d4503d4e74b8/ebd07bb4e01077b3736004a5305ce741/RalewayThin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }



@font-face {
    font-family: 'Raleway';
        src: url('/assets/fonts/raleway/28803715a13e97194083d4503d4e74b8/f8708e6ab83f9e2e11c2bd0c0ecf93a6/RalewayThinItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

